/*   Default CSS for Greater Than 965px  	 */

html {
    height: 100%;
}

body {
    margin: auto;
    font-family: sans-serif;
    background: white;
    display: block;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: serif;
}

p {
    text-align: left;
}

.link {
    position: relative;
    padding: 5px;
    top: 5px;
    color: white;
    display: inline-block;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.link:hover {
    background: white;
    color: #225D7A;
}

#historypic {
    height: 50px;
}

#history {
    padding-top: 70px;
}

#historylinks {
    padding-top: 50px;
    width: 100%;
}

.pageLinks {
    padding-top: .5em;
    display: inline-table;
    width: 22%;
    opacity: .7;
}

.historylink {
    color: black
}

#historyMain {
    height: 600px;
}

.pageLinks:hover {
    opacity: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 2px 2px 5px #000000;
}

th {
    background: #225D7A;
    color: white;
}

#golftourny {
    background: green;
}

#golftourny:hover {
    background: white;
    color: green;
}

td:first-child {
    text-align: left;
}

#schedule_table td:nth-child(5n+2) {
    border-left: 2px #225D7A solid;
}

td,
th {
    padding: 5px;
    font-size: .9em;
}

tr {
    background: #dfecf3;
}

tr:nth-child(odd) {
    background: #a3dbf7;
}

#header {
    position: absolute;
    background: #225D7A;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    padding-top: .4em;
    height: 50px;
}

#sticker {
    float: right;
    padding-right: 2em;
}

#nav {
    text-align: center;
}

#csnhl {
    padding-left: 50px;
    color: white;
}

#hcsnhl {
    float: left;
}

#season {
    float: right;
}

#hcsnhl,
#season {
    display: inline;
    padding-top: 0px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0px;
    color: #225D7A;
}

#logo {
    float: left;
    padding-left: 1em;
}

#registration:hover {
    color: red;
    background: white;
}

#seasonYear {
    colour: red;
}

#root {
    text-align: center;
    color: black;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 100px;
}

#champs {
    text-align: center;
    width: 100%;
    box-shadow: 2px 2px 5px #000000;
}

#pastChamps {
    text-align: center;
    width: 60%;
    box-shadow: 2px 2px 5px #000000;
}

#awards {
    padding-top: 50px;
    margin-bottom: 50px;
}

.teamstatstable {
    float: left;
    width: 49%;
    padding: .5%;
}

#sponsors {
    height: 200px;
}

.section {
    padding-top: 50px;
}

.sponsorlinks {
    height: 70px;
    display: inline;
    max-width: 90%;
    margin: 2%;
    box-shadow: 2px 2px 5px #000000;
}

.div {
    height: 2px;
    width: 100%;
    background: #225D7A;
}

.award {
    float: left;
    width: 33%;
}

#stats_table {
    width: 60%;
}

#playerstats {
    padding-top: 300px;
    text-align: center;
}

.button {
    float: left;
    text-decoration: none;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    color: white;
    background: #a3dbf7;
    border: 1px #a3dbf7 solid;
}

.button:hover {
    background: white;
    color: #a3dbf7;
    border: 1px #a3dbf7 solid;
}

#about {
    padding-left: 15%;
    padding-right: 15%;
}

#banner {
    text-align: center;
    padding: 10px;
    background: white;
    color: #225D7A;
}

#brand {
    float: right;
    float: bottom;
    padding-right: .5em;
    padding-bottom: .5em;
    height: 20px;
    opacity: .5;
}

@media screen and (max-width: 965px) {
    #logo {
        height: 50px;
        float: left;
        padding-left: 1em;
    }
    #csnhl {
        padding-left: 100px;
    }
    #sticker {
        padding-right: 0px;
    }
}

@media screen and (max-width: 820px) {
    #sticker {
        width: 100%;
        background: #225D7A;
    }
    .section {
        padding-top: 100px;
    }
    #csnhl {
        text-align: center;
        padding-left: 0px;
    }
    #champs {
        width: 95%;
    }
}

@media screen and (min-width: 1200px) {
    #champs {
        width: 65%;
    }
    #root {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    #playerstats{
        width:100%;
    }
}
